---
- name: Install dependency packages
  ansible.builtin.apt:
    name:
      - apt-transport-https
      - ca-certificates
      - curl
      - gnupg
      - ufw
- name: Add apt signing key
  ansible.builtin.apt_key:
    url: https://deb.goaccess.io/gnugpg.key
    state: present
- name: Add goaccess repository
  ansible.builtin.apt_repository:
    filename: goaccess
    repo: deb https://deb.goaccess.io/ {{ ansible_facts.distribution_release }} main
    state: present
